<div class="col-lg-12 profile" ng-init="getUserById(userId)">
    <div class="panel panel-default" style="background-image: url('/user/background/{{user.id}}')"
         ng-init="getUserFollowingById(userId);getFollowersById(userId)">
        <div class="panel-body profile-background" ng-init="getUserEventsById(userId)">
            <div class="profile-background-container">
                <div class="col-lg-2">
                    <center>
                        <img src="/user/avatar/{{user.id}}" alt="" style="width: 100%"
                             onerror="this.src = '/dist/img/user.profile.avatar.default.svg'">
                    </center>
                </div>
                <div class="col-lg-10">
                    <div class="username">{{user.username}}</div>
                    <!--<button ng-show="editShow" class="btn btn-default follow" ng-click="editUserProfile(userId)">Edit</button>-->
                    <div ng-show="followShow" class="pull-right show-hide follow">
                        <button class="btn" ng-class="{'btn-primary': noFollow}" ng-show="noFollow"
                                ng-click="followOnUser(user.id)">Follow
                        </button>
                        <button class="btn" ng-class="{' btn-success': follow}" ng-show="follow"
                                ng-click="followOnUser(user.id)">Following
                        </button>
                    </div>
                    <div class="name">{{user.name}}</div>
                    <div class="info">
                        <span><b>{{events.total_items}}</b> events</span>
                        <span ng-click="openFollowers()"><b>{{followers.total_items}}</b> followers</span>
                        <span ng-click="openFollowing()"><b>{{userFollowing.total_items}}</b> following</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid events">
        <ui-view></ui-view>
    </div>
</div>