<div class="evene-new">
    <form name="eventForm">
        <input class="name" type="text" name="name" ng-model="event.name" placeholder="Name">
        <br>
        <span class="location">
        <i class="glyphicon glyphicon-map-marker"></i>
         <input type="text" ng-model="event.location" placeholder="Location"
                uib-typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations"
                typeahead-no-results="noResults">
        </span>
        <!--<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>-->
        <!--<span ng-show="noResults">-->
        <!--<i class="glyphicon glyphicon-remove"></i> No Results-->
        <!--</span>-->
        <br>
        <textarea class="description" name="description" ng-model="event.description" placeholder="Description"
                  rows="10"></textarea> <br>
        <br>
        <div class="col-lg-3">
            <label>Time</label>
            <uib-timepicker ng-model="event.time" hour-step="1" minute-step="5" show-meridian="false"></uib-timepicker>
        </div>
        <div class="col-lg-3">
            <label>Type</label><br>
            <select name="type" ng-model="event.type">
                <option value="social">Social</option>
                <option value="actual">Actual</option>
                <option value="private">Private</option>
            </select>
        </div>
        <div class="col-lg-3">
            <label ng-click="popup1 = !popup1">Date</label>
            <h1 ng-click="popup1 = !popup1">{{event.date | date:"dd"}}</h1>
            <div ng-click="popup1 = !popup1">{{event.date | date:"MMMM"}}</div>
            <uib-datepicker ng-model="event.date" class="well well-sm show-hide" ng-show="popup1"
                            style="position: absolute; z-index: 5000; bottom: 0;"></uib-datepicker>
        </div>
        <div class="col-lg-3">
            <label>Image</label>
            <img ng-if="event.image !== null" ng-src="data:{{event.image.filetype}};base64,{{event.image.base64}}">
            <div class="upload">
                <input class="btn btn-default" name="image" type="file" ng-model="event.image" accept="image/*"
                       base-sixty-four-input>
                <span ng-show="event.image == null">Upload</span>
                <span ng-show="event.image != null">Change</span>
            </div>
        </div>
        <button class="btn btn-success create" ng-click="createEvent(event)">Create</button>
    </form>
</div>
