<div class="row">
    <div class="title-block">
        {{ 'events' | translate }} <span class="sub">{{events.total_items}}</span>
            <span class="pull-right btn-radio">
                <label class="btn btn-default" ng-model="eventType" uib-btn-radio=""
                       ng-click="getUserEventsById(userId, eventType, currentPage)">{{ 'all' | translate}}</label>
                <label class="btn btn-default" ng-model="eventType" uib-btn-radio="'actual'"
                       ng-click="getUserEventsById(userId, eventType, currentPage)">{{ 'actual' | translate}}</label>
                <label class="btn btn-default" ng-model="eventType" uib-btn-radio="'fun'"
                       ng-click="getUserEventsById(userId, eventType, currentPage)">{{ 'fun' | translate}}</label>
                <!--<label class="btn btn-default" ng-model="eventType" uib-btn-radio="'past'"-->
                       <!--ng-click="getUserEventsById(userId, eventType, currentPage)">{{ 'past' | translate}}</label>-->
                <label class="btn btn-default" ng-model="eventType" uib-btn-radio="'social'"
                       ng-click="getUserEventsById(userId, eventType, currentPage)">{{ 'social' | translate}}</label>
            </span>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-xs-12 event-item" ng-repeat="event in events.items">
        <center>
            <div class="event"
                 ng-mouseenter="descriptionShow = true; getEventLikesById(event.id); getEventCommentsById(event.id)"
                 ng-mouseleave="descriptionShow = false;">
                <div class="crop">
                    <img src="/event/image/{{event.id}}">
                </div>
                <div class="event-container event-bg">
                    <div class="col-lg-6 col-xs-6">
                        <a href="#/event/{{event.id}}">
                            <div class="title">{{event.name}}</div>
                        </a>
                            <span class="location"><i
                                    class="glyphicon glyphicon-map-marker"></i>{{event.location}}</span>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        <div class="time">{{event.date | date: 'd MMM y'}}</div>
                        <div class="time">{{event.time}}</div>
                    </div>
                </div>
                <!--<div class="type">{{event.type}}</div>-->
                <div class="description show-hide" ng-show="descriptionShow">
                    <div class="like-container">
                                <span class="like" ng-click="createLike(event.id)"><i class="glyphicon"
                                                                                      ng-class="{'glyphicon-heart-empty': noLike, 'glyphicon-heart': like}"></i><span>{{likes.length}}</span>
                                </span>
                                <span class="comment">
                                    <i id="comment" class="glyphicon glyphicon-comment"></i>
                                    <span>{{comments.total_items}}</span>
                                </span>
                        <span ng-show="removeShow" ng-click="removeEvent(event.id)" class="pull-right"><i class="glyphicon glyphicon-remove event-remove"></i></span>
                    </div>
                    <br>
                    <div>{{event.description}}</div>
                </div>
            </div>
        </center>
    </div>
</div>
<div class="row" style="padding: 20px" ng-if="events.total_items > 9">
    <uib-pager total-items="events.total_items" ng-model="currentPage"
               ng-change="getUserEventsById(userId, eventType, currentPage)" items-per-page="3"></uib-pager>
</div>
<div class="row" ng-if="events.total_items == 0">
    <div class="col-lg-12">
        <uib-alert type="warning" style="margin-top: 30px"><span translate>DoNotHaveEvents</span></uib-alert>
    </div>
</div>
