

.event-item
  padding: 20px
  margin: auto

.event
  width: 100%
  height: 240px
  position: relative
  float: left
  border-radius: 5px
  //box-shadow: 0 0 3px silver
  overflow: hidden
  .crop
    height: 73%
    overflow: hidden
  .like-container
    color: #bfbfbf
    .glyphicon-heart
      color: #ec3531
    span.like, span.comment
      height: 25px
      span
        padding: 5px
  .user
    position: absolute
    margin: 15px
    right: 0
    top: 0
    a
      color: #EEEEEE
      &:hover
        color: #e3e3e3
    .username
      float: left
      margin: 12px
      font-weight: bold
    img
      width: 50px
      border-radius: 100%
  a
    color: #333333
    &:hover
      text-decoration: none
      color: #444444
  .description
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    //background: rgba(0, 255, 255, 0.2)
    transition: .15s ease-in-out
    background: rgba(34, 34, 34, .5)
    text-align: left
    color: #eee
    border-radius: 5px 5px 10px 10px
    padding: 15px
  img
    width: 120%
    margin-left: -10%
    border-radius: 5px 5px 20px 20px
  //height: 80%
  .event-container
    position: absolute
    width: 100%
    height: auto
    bottom: 0
    left: 0
    text-align: left
    padding: 15px
    font-weight: bold
    z-index: 1000
    //@include bg-gradient-t2b(rgba(34,34,34, 0), rgba(34,34,34,.5), top)
    background-color: rgba(255, 255, 255, 1)
    color: rgb(75, 75, 75)
    border-radius: 0 0 5px 5px
    .col-lg-6, .col-xs-6
      padding: 0
      margin: 0
  .time
    font-size: 15px
    color: rgb(127, 127, 127)
    text-align: right
    font-weight: 400
  //color: rgba(255, 255, 255, 0.8)
  .title
    //color: rgba(255, 255, 255, 1)
    font-size: 16px
.location
  color: rgba(75, 75, 75, 0.5)
  color: #BB4646
  font-size: 12px
.type
  position: absolute
  top: 0
  right: 0
  padding: 5px 10px
  margin: 15px
  border-radius: 5px
  color: #eee
  background: rgba(255, 255, 255, .3)
  z-index: 5000
  .big
    top: 38%
    left: 0
    font-size: 40px
  .small
    top: 42%
    left: 0
    font-size: 25px



.friends:before
  background: rgba(0, 249, 255, 0.2)

.past:before
  background: rgba(255, 255, 255, 0.3)

.actual:before
  background: rgba(225, 0, 0, 0.2)

.social:before
  background: rgba(234, 255, 0, 0.2)

.event-add-container
  position: fixed
  top: 0
  width: 100%
  height: 100%
  //background: rgba(34, 34, 34, 0.8)
  //background: rgba(234, 255, 0, 0.8)
  background: rgba(255, 255, 255, 0.8)

  z-index: 5000
  input, textarea
    background: transparent
    border: none
    color: #333
    outline: none
    width: 100%
  input
    font-size: 50px
  textarea
    font-size: 20px
  .event-form-group
    position: absolute
    left: 0
    right: 0
    top: 50px
    bottom: 0
    margin: 0 auto
    width: 500px
    height: 250px
  .event-add-close
    position: absolute
    left: 0
    top: 0
    margin: 15px
    height: 100%
    width: 20%

// .location
//   position: absolute
//   right: 0
//   background-image: url('/dist/img/location.svg')
//   &:hover
//     background-image: url('/dist/img/location.hover.svg')

// .photos
//   box-shadow: 0 0 1px #333
//   position: absolute
//   left: 0
//   background-image: url('/dist/img/photos.jpg')
//   background-size: 50px

// .info
//   background-image: url('/dist/img/info.svg')
//   background-size: 10px 
//   box-shadow: none
//   &:hover
//     background-image: url('/dist/img/info.hover.svg')

// .time
//   color: silver
//   font-size: 40px
//   padding-left: 30px
// /*.photos:hover
//   /*box-shadow: 0 0 10px #222;

// .title
//   color: rgba(255, 255, 255, 1)
//   font-size: 80px
//   margin: 15px
//   padding-left: 15px
//   font-weight: 200
//   /*text-shadow: 0 0 2px #333;

// .desc
//   background-color: rgba(255, 255, 255, 0.95) !important
//   padding: 30px
//   padding-top: 10px