body
	font-family: Open Sans
	background-color: #eee

.container-meeter
	//margin-top: 50px
	width: 70%
	padding-left: 30px
	padding-right: 30px

.container-navbar
	padding-left: 30px
	padding-right: 30px
	width: 70%

.right 
  	float: right !important

.left 
  	float: left !important

.top
	top: 0 !important

.bottom
	bottom: 0 !important

.center
	left: 50% !important
	top: 50% !important
	margin: auto

.no-padding
  padding: 0
.no-margin
	margin: 0

.tools
	padding: 25px
	padding-bottom: 0
	background: rgba(255, 255, 255, 1)
	.type
		padding-left: 0
		padding-right: 20px

@media (max-width: 768px)
	.container-meeter
		width: 100%
		margin-top: 170px
	.container-navbar
		width: 100%

@media (min-width: 768px)
	.container-meeter
		width: 70%
		margin-top: 50px
	.container-navbar
		width: 70%

.dropdown:hover .dropdown-menu
    display: block

.scroll
	overflow-y: scroll
a
	color: #e36d08
	text-decoration: none!important
	transition: .2s
	&:hover
		transition: .2s
		color: rgba(227, 109, 8, 0.52)
