.navbar-avatar
	margin: 7px
	border-radius: 100%
.navbar-avatar
	margin: 7px
	overflow: hidden
	border-radius: 100%
	width: 35px
	height: 35px
	cursor: pointer
	img
		height: 45px
.navbar
	background: #fff