.user
  transition: .2s
  padding: 15px
  &:hover
    transition: .2s
    //border: 1px solid #eee
    background: #eee
  .username
    padding-top: 10px
    font-size: 13px
    a
      color: #333
      font-weight: bold
      text-decoration: none
      transition: .2s
      &:hover
        transition: .2s
        color: #555
  .crop
    width: 100px
    height: 100px
    overflow: hidden
    border-radius: 100%
    img
      margin: -10px 0 0 -25px
      width: 150px

