<div class="col-lg-12" ng-init="getUserById(userId)">
    <div class="panel panel-default">
        <div class="panel-heading">Edit</div>
        <div class="panel-body">
            <ng-form name="userProfileEditForm">
                <div class="col-lg-6">
                    <label for="general_info">General information</label>
                    <table id="general_info">
                        <tr>
                            <td>username</td>
                            <td><input type="text" class="form-control" name="username" ng-model="user.username"></td>
                        </tr>
                        <tr>
                            <td>name</td>
                            <td><input type="text" class="form-control" name="name" ng-model="user.name"></td>
                        </tr>
                        <tr>
                            <td>email</td>
                            <td><input type="email" class="form-control" name="email" ng-model="user.email"></td>
                        </tr>
                    </table>
                </div>
                <idv class="col-lg-6">
                    <label for="change_password">Change password</label>
                    <table id="change_password">
                        <tr>
                            <td>Old password</td>
                            <td><input type="password" class="form-control" name="oldPassword" ng-model="oldPassword">
                            </td>
                        </tr>
                        <tr>
                            <td>New password</td>
                            <td><input type="password" class="form-control" name="newPassword" ng-model="newPassword">
                            </td>
                        </tr>
                        <tr>
                            <td>Repeat new password</td>
                            <td><input type="password" class="form-control" name="repeatNewPassword"
                                       ng-model="repeatNewPassword"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button class="btn btn-default" ng-click="checkPassword()">Change password</button></td>
                        </tr>
                    </table>

                </idv>
            </ng-form>
        </div>
    </div>
</div>