<div class="container-fluid no-padding follower">
    <div class="row">
        <div class="col-lg-12">
            <div class="title-block">
                {{ 'following' | translate}} <span class="sub">{{userFollowing.total_items}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3" ng-repeat="follower in userFollowing.items">
            <div class="user">
                <center>
                    <a href="#/user/{{follower.user_id}}" ng-click="closeThisDialog(true)">
                        <div class="crop" style="width: 65px; height: 65px">
                            <img ng-src="/user/avatar/{{follower.user_id}}"
                                 onerror="this.src = '/dist/img/user.profile.avatar.default.svg'"
                            >
                        </div>
                    </a>
                    <div class="username" ng-click="closeThisDialog(true)">
                        <a href="#/user/{{follower.user_id}}">{{follower.username}}</a>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <div class="row" ng-if="userFollowing.total_items == 0">
        <div class="col-lg-12">
            <uib-alert type="warning"><span translate>DoNotHaveFollowing</span></uib-alert>
        </div>
    </div>
</div>