<div class="profile profile-event" ng-init="getEventById(eventId)">
    <div class="panel panel-default" style="background-image: url('/event/image/{{event.id}}')">
        <div class="panel-body profile-background"></div>
    </div>
    <div class="container-fluid events">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <div class="name">{{event.name}}</div>
                    <div class="location"><i class="glyphicon glyphicon-map-marker"></i> {{event.location}}</div>

                    <div class="description">{{event.description}}</div>
                </div>
                <div class="col-lg-2">
                    <div class="time">{{event.date | dateInMillis | date: 'd MMM y'}}</div>
                    <div class="time">{{event.date | dateInMillis | date: 'H:mm'}}</div>
                </div>
                <div class="col-lg-6">
                    <table class="member organizer">
                        <tr>
                            <td>
                                <a href="#/user/{{user.id}}">
                                    <div class="crop">
                                        <img src="/user/avatar/{{user.id}}" onerror="this.src = '/dist/img/user.profile.avatar.default.svg'">
                                    </div>
                                </a>
                            </td>
                            <td class="username">
                                <a href="#/user/{{user.id}}">{{user.username}}</a>
                                <div>Organizer</div>
                            </td>
                            <td>
                                <div ng-show="followShow" class="pull-right show-hide">
                                    <button class="btn" ng-class="{'btn-primary': noFollow}" ng-show="noFollow"
                                            ng-click="followOnUser(user.id)">Follow
                                    </button>
                                    <button class="btn" ng-class="{'btn-default': follow}" ng-show="follow"
                                            ng-click="followOnUser(user.id)">Following
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="join" ng-click="joinToEvent()" ng-show="joinShow">
                    <button class="btn pull-right"
                            ng-class="{'btn-default': unJoin, 'btn-success': join}">
                        <span ng-show="join">Joined</span>
                        <span ng-show="unJoin">Join</span>
                        <label class="label label-default">{{members.length}}</label>
                    </button>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="col-lg-6">
                <div class="title-block">
                    Members <span class="sub">{{members.length}}</span>
                </div>
                <div class="members" ng-class="{ 'comments-scroll': members.total_items > 10}">
                <div ng-repeat="member in members">
                    <table class="member">
                        <tr>
                            <td>
                                <a href="#/user/{{member.user_id}}">
                                    <div class="crop">
                                        <img src="/user/avatar/{{member.user_id}}" onerror="this.src = '/dist/img/user.profile.avatar.default.svg'">
                                    </div>
                                </a>
                            </td>
                            <td class="username">
                                <a href="#/user/{{member.user_id}}">{{member.username}}</a>
                            </td>
                        </tr>
                    </table>
                </div>
                </div>
                <hr>
                <div class="profile-like-container">
                    <table>
                        <tr>
                            <td class="like">
                                <div ng-click="createLike()"><i class="glyphicon"
                                                                             ng-class="{'glyphicon-heart-empty': noLike, 'glyphicon-heart': like}"></i><span
                                        class="like-count">{{likes.length}}</span>
                                </div>
                            </td>
                            <td ng-repeat="user in likes | limitTo: 10">
                                <a href="#/user/{{user.user_id}}">
                                    <div class="user_crop" uib-tooltip="{{user.username}}">
                                        <img src="/user/avatar/{{user.user_id}}"
                                             onerror="this.src = '/dist/img/user.profile.avatar.default.svg'">
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="title-block">
                    Comments <span class="sub">{{comments.total_items}}</span>
                </div>
                <!--<a href="" class="view-comments" ng-show="viewAllCommentsShow && comments.total_items > 15"-->
                   <!--ng-click="getEventCommentsById(eventId, 1, comments.total_items); viewAllCommentsShow = false">View-->
                    <!--all {{comments.total_items}} comments</a>-->
                <!--<a href="" class="view-comments" ng-show="!viewAllCommentsShow"-->
                   <!--ng-click="getEventCommentsById(eventId, 1, 15); viewAllCommentsShow = true">View new comments</a>-->
                <div class="comments" ng-class="{ 'comments-scroll': comments.total_items > 10}">
                    <table>
                        <tr ng-repeat="item in comments.items">
                            <td>
                                <a href="#/user/{{item.id}}">
                                    <div class="user_crop">
                                        <img src="/user/avatar/{{item.id}}" alt="{{item.username}}"
                                             onerror="this.src = '/dist/img/user.profile.avatar.default.svg'">
                                    </div>
                                </a>
                            </td>
                            <td>
                                <a href="#/user/{{item.id}}">{{item.username}}</a>
                                {{item.comment}}
                            </td>
                        </tr>
                    </table>
                </div>
                <hr>
                <input type="text" class="form-control" ng-model="comment" placeholder="Add a new comment"
                       ng-enter="createComment()">
            </div>
        </div>
    </div>
</div>