<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid container-navbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/feed"><span>m</span>eeter</a>
        </div>
        <div id="bs-example-navbar-collapse-1">
            <div class="btn-group right " >
                <div class="navbar-avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <img class="right" src="/user/avatar/{{userId}}"
                         onerror="this.src = '/dist/img/user.profile.avatar.default.svg'">
                </div>
                <ul class="dropdown-menu dropdown-menu-right show-hide">
                    <li><a href="#/user/{{userId}}">Profile</a></li>
                    <li><a href="#/user/{{userId}}/settings">Settings</a></li>
                    <li><a href="#">Followers</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/" ng-click="logout()">Log out</a></li>
                </ul>
            </div>
            <form class="navbar-form navbar-right " role="search">
                <div class="form-group search">
                    <input type="text" class="form-control" ng-model="searchName" placeholder="Search" ng-change="getEventsByName(1, 100, searchName)" typeahead-template-url="app/shared/navbar/search/navbar.search.typeahead.template.html" uib-typeahead="event as event.name for event in events" typeahead-show-hint="true" typeahead-min-length="1" ng-enter="linkSearch(searchName)">
                </div>
            </form>
        </div>
    </div>
</nav>
<center>
    <button class="btn btn-default glyphicon glyphicon-plus add-event" ng-click="createEvent()"></button>
</center>
<div class="container-fluid container-meeter">
    <ui-view></ui-view>
    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; meeter 2016</p>
            </div>
        </div>
    </footer>

</div>
