<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="z-index: 10000">
    <div class="container-fluid container-navbar">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/feed"><span>m</span>eeter</a>
        </div>
        <div>
            <div class="btn-group right " >
                <div class="navbar-avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <img class="right" src="/user/avatar/{{userId}}"
                         onerror="this.src = '/dist/img/user.profile.avatar.default.svg'">
                </div>
                <ul class="dropdown-menu dropdown-menu-right show-hide">
                    <li><a href="#/user/{{userId}}" translate>profile</a></li>
                    <li><a href="#/user/{{userId}}/settings" translate>settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/" ng-click="logout()" translate>logOut</a></li>
                </ul>
            </div>
            <form class="navbar-form navbar-right">
                <div class="form-group search">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" class="form-control" ng-model="searchName" placeholder="{{ 'search' | translate}}" ng-change="getEventsByName(1, 100, searchName)" typeahead-template-url="app/shared/navbar/search/navbar.search.typeahead.template.html" uib-typeahead="event as event.name for event in events.items" typeahead-show-hint="true" typeahead-min-length="1" ng-enter="linkSearch(searchName.name)" pattern="^[A-zА-яіІ0-9 ]*$">
                        </div>
                </div>
            </form>
        </div>
    </div>
</nav>
<center>
    <button class="btn btn-default glyphicon glyphicon-plus add-event" ng-click="createEvent()" style="z-index: 10000"></button>
</center>
<div class="container-fluid container-meeter">
    <ui-view></ui-view>
    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <!--<p>Copyright &copy; meeter 2016</p>-->
            </div>
        </div>
    </footer>

</div>
