<div class="col-lg-12">
    <form name="passwordForm">
        <label for="change_password">Change password</label>
        <table id="change_password">
            <tr>
                <td>Old password</td>
                <td>
                    <input type="password" class="form-control" name="oldPassword" ng-model="user.oldPassword" ng-change="checkPassword(user)" pattern="^(?=.*\d)(?=.*[A-z])(?=.*[A-z])(?!.*\s).*$" required>
                </td>
                <td>
                    <label class="label label-danger" ng-show="failedPassword">failedPassword</label>
                </td>
            </tr>
            <tr>
                <td>New password</td>
                <td><input type="password" class="form-control" name="newPassword" ng-model="user.newPassword" pattern="^(?=.*\d)(?=.*[A-z])(?=.*[A-z])(?!.*\s).*$" uib-popover="Min length 6 symbols" popover-trigger="focus" required>
                </td>
            </tr>
            <tr>
                <td>Repeat new password</td>
                <td><input type="password" class="form-control" name="repeatNewPassword"
                           ng-model="user.repeatNewPassword" ng-change="repeatPasswordCheck(user)" pattern="^(?=.*\d)(?=.*[A-z])(?=.*[A-z])(?!.*\s).*$" required>
                </td>
                <td>
                    <label class="label label-warning" ng-show="passwordRepeatFailed">passwordRepeatFailed</label>
                    <label class="label label-success" ng-show="repeatPasswordChecked">success</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="btn btn-default" ng-click="changePassword(user)">Change password</button>
                </td>
            </tr>
        </table>
    </form>
</div>