<div class="title-block">
    {{ 'settings' | translate }}</span>
            <span class="pull-right btn-radio">
                <label class="btn btn-default" ng-model="tab" uib-btn-radio=""
                       ng-click="getTab(tab)">{{ 'edit' | translate}}</label>
                <label class="btn btn-default" ng-model="tab" uib-btn-radio="'password'"
                       ng-click="getTab(tab)">{{ 'password' | translate}}</label>
            </span>
</div>
<div class="container-fluid settings-container" ng-init="getUserById(userId)">
    <ui-view></ui-view>
</div>