<div class="row no-margin">
    <div class="container-fluid tools">
        <div class="col-lg-12">
            <div class="btn-group left btn-radio">
                <label class="btn btn-default type" ng-model="eventType" uib-btn-radio=""
                       ng-click="getPageEvents(1, 9, eventType)"><span translate>all</span></label>
                <label class="btn btn-default type" ng-model="eventType" uib-btn-radio="'actual'"
                       ng-click="getPageEvents(1, 9, eventType)"><span translate>actual</span></label>
                <label class="btn btn-default type" ng-model="eventType" uib-btn-radio="'fun'"
                       ng-click="getPageEvents(1, 9, eventType)"><span translate>fun</span></label>
                <!--<label class="btn btn-default type" ng-model="eventType" uib-btn-radio="'past'"-->
                       <!--ng-click="getPageEvents(1, 9, eventType)"><span translate>past</span></label>-->
                <label class="btn btn-default type" ng-model="eventType" uib-btn-radio="'social'"
                       ng-click="getPageEvents(1, 9, eventType)"><span translate>social</span></label>
            </div>
            <!--<div class="btn-group right">-->
                <!--<label class="btn btn-default glyphicon glyphicon-th" ng-model="size" ng-click="size = 4"-->
                       <!--uib-btn-radio="4"-->
                       <!--uncheckable></label>-->
                <!--<label class="btn btn-default glyphicon glyphicon-th-list" ng-model="size" ng-click="size = 12"-->
                       <!--uib-btn-radio="12" uncheckable></label>-->
            <!--</div>-->
        </div>
    </div>
</div>
<div class="row no-margin" ng-init="getPageEvents(1, 9)">
    <div class="container-fluid events" style="padding-top: 0">
        <div class="row">
            <div class="col-md-4 col-xs-12 event-item" ng-repeat="event in events.items">
                <center>
                    <div class="event"
                         ng-mouseenter="descriptionShow = true; getEventLikesById(event.id); getUserById(event.user_id); getEventCommentsById(event.id)"
                         ng-mouseleave="descriptionShow = false;">
                        <div class="crop">
                            <img src="/event/image/{{event.id}}">
                        </div>
                        <div class="event-container event-bg">
                            <div class="col-lg-6 col-xs-6">
                                <a href="#/event/{{event.id}}">
                                    <div class="title">{{event.name}}</div>
                                </a>
                            <span class="location"><i
                                    class="glyphicon glyphicon-map-marker"></i>{{event.location}}</span>
                            </div>
                            <div class="col-lg-6 col-xs-6">
                                <div class="time">{{event.date | dateInMillis | date: 'd MMM y'}}</div>
                                <div class="time">{{event.date | dateInMillis | date: 'H:mm'}}</div>
                            </div>
                        </div>
                        <!--<div class="type">{{event.type}}</div>-->
                        <div class="description show-hide" ng-show="descriptionShow">
                            <div class="like-container">
                <span class="like" ng-click="createLike(event.id)"><i class="glyphicon"
                                                                      ng-class="{'glyphicon-heart-empty': noLike, 'glyphicon-heart': like}"></i><span>{{likes.length}}</span>
                </span>
                <span class="comment">
                    <i id="comment" class="glyphicon glyphicon-comment"></i>
                    <span>{{comments.total_items}}</span>
                </span>
                            </div>
                            <div class="user">
                                <center>
                                    <a href="#/user/{{user.id}}">
                                        <div class="crop_event">
                                            <img src="/user/avatar/{{user.id}}" align="right"
                                                 onerror="this.src = '/dist/img/user.profile.avatar.default.svg'">
                                        </div>
                                    </a>
                                    <a href="#/user/{{user.id}}"><div class="username">{{user.username}}</div></a>
                                </center>
                            </div>
                            <br>
                            <div class="description_event">{{event.description}}</div>
                        </div>
                    </div>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <uib-pager previous-text="{{ 'previous' | translate }}" next-text="{{ 'next' | translate}}" total-items="events.total_items" ng-model="currentPage"
                           ng-change="getPageEvents(currentPage, 9)" items-per-page="9"></uib-pager>
            </div>
        </div>
    </div>
</div>
<!--<button class="btn btn-default" ng-click="getPageEvents(1, 10)">More</button>-->
